/*reset-CSS*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    line-height: 1.5;
    font-style: normal;
    text-decoration: none;
    letter-spacing: -0.02em;
}